.main-content--home {
    width: 100%;
    justify-content: space-around;
    padding: 0 3em 5em 3em;
    margin: 0 auto;
}

.main-content--home__intro-text {
    max-width: 440px;
    word-wrap: normal;
    color: var(--clr_white);
}

.main-content--home__button-section {
    align-items: flex-end;
}

.main-content--home__button {
    text-transform: uppercase;
    /* width: 220px; */
    /* height: 220px; */
    padding: 4.5em 3em;
    border-radius: 50%;
    transition-duration: 400ms;
    transition-property: box-shadow;
    border-color: var(--clr_white);
    font-family: var(--ff_Bellefair);
    font-size: 1.5rem;
    background-color: var(--clr_white);
    /* text-align: center; */
}

.main-content--home__button:hover {
    box-shadow: 0 0 0 2.5rem rgba(255, 255, 255, 0.349);
}

.bg--home {
    background-image: url('/data/images/assets/home/background-home-desktop.jpg');
    gap: 10vh;
}

@media (max-width: 1024px) {
    .bg--home {
        background-image: url('/data/images/assets/home/background-home-tablet.jpg');
    }

    .main-content--home {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        text-align: center;
    }


}

@media (max-width:500px) {
    .main-content--home__button {
        padding: 3.5em 2em ;
        font-size: 1.3rem;
    }

    .bg--home {
        background-image: url('/data/images/assets/home/background-home-mobile.jpg');
        background-size: cover;
    }
}